apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: red-shopping
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      enableServiceLinks: false
      containers:
      - name: notification-service
        image: red-shopping-notification-service:latest
        imagePullPolicy: Never  # Pour Minikube (images locales)
        env:
        - name: FLASK_ENV
          valueFrom:
            configMapKeyRef:
              name: service-config
              key: FLASK_ENV
        - name: RABBITMQ_HOST
          valueFrom:
            configMapKeyRef:
              name: service-config
              key: RABBITMQ_HOST
        ports:
        - containerPort: 8004
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: red-shopping
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
  - port: 8004
    targetPort: 8004
