apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: red-shopping
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: red-shopping-product-service:latest
        imagePullPolicy: Never  # Pour Minikube (images locales)
        env:
        - name: FLASK_ENV
          valueFrom:
            configMapKeyRef:
              name: service-config
              key: FLASK_ENV
        - name: DATABASE_URL
          valueFrom:
            configMapKeyRef:
              name: service-config
              key: PRODUCTS_DB_URL
        ports:
        - containerPort: 8001
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: red-shopping
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
  - port: 8001
    targetPort: 8001
